@charset "UTF-8";
.collect-content{
	width:100%;
}
.collect-wrap{
	height:100%;
	overflow:hidden;
	overflow-y: scroll;
}
.collect-list{
	padding: 31px 20px 0;
}
.collect-list a{
	display:block;
	width:100%;
	height:100%;
	background:rgba(255,255,255,.1);
	border-radius: 5px;
	overflow:hidden;
	margin-bottom: 10px;
}
.collect-list a:active{
	background:rgba(255,255,255,.2);
}
.msg{
	letter-spacing: 1px;
	float: right;
	width:45%;
	overflow:hidden;
}
.pic{
	width: 50%;
	height: 93px;
	overflow: hidden;
	float: left;
}
.name{
	font-size: 15px;
	line-height: 22px;
	color: rgba(255,255,255,.8);
}
.tit{
	color: rgba(255,255,255,.8);
	font-size:12px;
	padding-right:11px;
	line-height:24px;
	float:right;
}
.price{
	font-sizeï¼š10px;
	line-height:16px;
	color: rgba(255,255,255,.8);
}
.price i{
	font-size:12px;
	line-height:12px;
	margin-left:3px;
}
.sex-g span{
	display: inline-block;
	width:9px;
	height:9px;
	background: url(../images/team/girl.png) no-repeat;
	background-size: 100%;
	margin-right:3px;
}
.sex-g{
	color:#f264b9;
	font-size:12px;
	line-height:16px;
	display:inline-block;
}
.constell{
	color:rgba(255,255,255,.6);
	display:inline;
	padding-left: 3px;
}
.plan,.works{
	font-size:10px;
	line-height:18px;
	color:rgba(255,255,255,.6);
}
.plan i,.works i{
	color:rgba(54,214,206,.8);
	margin-left: 7px;
}
.title p{
	color: rgba(255,255,255,.8);
	font-size:12px;
	text-align: right;
	padding-right:11px;
	line-height:24px;
}
.style-tag span,.color-tag span{
	padding: 0 7px;
	color:rgba(255,255,255,.6);
	border:1px solid rgba(255,255,255,.6);
	border-radius:10px;
	height:16px;
	line-height:16px;
	display:inline-block;
}
.style-tag,.color-tag{
	margin-top:6px;
	width:100%;
	white-space:nowrap;
}
.select{
	border-radius:5px;
	overflow:hidden;
	background:#fff;
	width:55.56%;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.select li{
	height:38px;
	line-height:38px;
	display:block;
	border-bottom:1px solid #ccc;
	text-align: center;
	width:100%;
	color:rgba(0,0,0,.8);
	font-size:13px;
}
.select li:last-child{
	border:none;
}
.select li.active{
	background:#36d6ce;
}
.alert{
	position: absolute;
	width:100%;
	height:100%;
	left:0;
	top: 0;
	z-index: 10;
	display:none;
}
.opa{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:rgba(0,0,0,.4);
}