@charset "UTF-8";
.detail-content{
	width: 100%;
}
.detail{
	width:100%;
}
.detail-list{
	overflow:hidden;
}
/*
	左边
 */
.detail-nav{
	float: left;
	width:23.336%;
	height:100%;
}
.detail-nav ul{
	height:100%;
}
.detail-nav li{
	width:100%;
	margin-bottom: 1px;
	height:16.6%
}
.detail-nav a:before{
	content:"";
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.detail-nav li a{
	width:100%;
	height:100%;
	background: rgba(255,255,255,.15);
	text-align: center;
	color:rgba(255,255,255,.6);
	font-size: 14px;
	letter-spacing:1px;
	display: block;
}
.detail-nav li a.active{
	background: #36d6ce;
	color:#000;
}
/*
	右边
 */
.detail-info{
	float:right;
	width:76.664%;
	overflow: hidden;
	overflow-y: scroll;
	transition:2s;
	height:100%;
}
.detail-msg{
	padding:8.5px 8px 0 8px;

}
.detail-msg .pojo-list{
	background:rgba(255,255,255,.1);
	padding:15px 9px 11px 6px;
	border-radius: 5px;
	margin-bottom:6px;
}
.pojo-list p{
	font-size:13px;
	color:#36d6ce;
	text-align:right;
}
.pojo-list table{
	width:100%;
	letter-spacing:1px;
	margin-top: 4px;
}
.pojo-list tr th{
	color:rgba(54,214,206,.8);
	font-size:12px;
	line-height:22px;
}
.pojo-list tr th:nth-child(1){
	width:26%;
	text-align:left;
}
.pojo-list tr th:nth-child(2){
	width:24%;
	text-align:right;
}
.pojo-list tr th:nth-child(3){
	width:22%;
	text-align:right;
}
.pojo-list tr th:nth-child(4){
	width:26%;
	text-align:right;
}
.pojo-list tr:not(:first-child){
	border-bottom:1px solid rgba(255,255,255,.5);
}
.pojo-list tr td{
	font-size:12px;
	color:rgba(255,255,255,.8);
	line-height:19px;
}
.pojo-list tr td:nth-child(1){
	text-align:left;
}
.pojo-list tr td:nth-child(2){
	text-align:right;
	padding-right: 5px;
}
.pojo-list tr td:nth-child(3){
	text-align:right;
	padding-right: 5px;
}
.pojo-list tr td:nth-child(4){
	text-align:right;
	color:rgba(54,214,206,.8);
}
.cont{
	margin-top:5px;
	width:100%;
	letter-spacing:1px;
}
.cont p{
	color:#fd6e6e;
}
