@charset "UTF-8";
.plan-wrap{
	width: 100%;
	overflow:hidden;
	overflow-y: scroll;
}
.plan-list{
	padding:22px 20px 0;
}
.plan-list a{
	width:100%;
	height:100%;
	display: block;
	border-radius: 5px;
	background: rgba(255,255,255,.1);
	overflow: hidden;
	padding-bottom: 6px;
	margin-bottom: 10px;
}
.plan-list a:active{
	background: rgba(255,255,255,.5);
}
.plan-pic{
	height:180px;
	overflow:hidden;
}
.plan-list a h2{
	font-size: 15px;
	color: rgba(255,255,255,.8);
	padding-left: 10px;
	line-height:34px;
	letter-spacing: 1px;
	overflow:hidden;
	white-space: normal;
	height:34px;
	padding-right: 10px;
}
.plan-list a p{
	font-size:12px;
	color:rgba(255,255,255,.5);
	padding-left:10px;
	padding-right: 25px;
	line-height: 15px;
}