@charset "UTF-8";
body{
	background:url(../images/bj.png) no-repeat;
	background-size:100%;
}
.gs-logo{
	width:100%;
	margin-top: 82.5px;
}
.gs-logo span{
	width: 209.5px;
	height:91px;
	display:block;
	background: url(../images/hds-logo.png) no-repeat;
	background-size:100%;
	margin: 0 auto;
}
.page{
	padding:0 30px;
}
.page .wrap{
	width:100%;
	margin-top:60px;
}
.input-container{
	position:relative;
	width:100%;
	height:40px;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
}
.input-container .phoneNum{
	width:100%;
	height: 100%;
	background:none;
	color:#fff;
	font-size:14px;
	text-indent: 3em;
}
.input-container .phoneNum+.icon{
	width:22px;
	height:22px;
	display:block;
	background:url(../images/l-tel.png) no-repeat;
	background-size:100%;
	position: absolute;
	left: 10px;
	top: 10px;
}
.input-box{
	width:100%;
	margin-top:20px;
}
.input-box .input-container{
	width:65%;
	float: left
}
.input-box .input-container .telcode{
	width:100%;
	height:100%;
	background:none;
	color:#fff;
	font-size:14px;
	text-indent: 3em;
}
.input-box .input-container .telcode+.icon{
	width:18px;
	height:21px;
	background:url(../images/l-pwd.png) no-repeat;
	background-size:100%;
	display:block;
	position:absolute;
	left:12px;
	top:10px;
}
.input-box .mesg-code{
	width:30%;
	float:right;
	height:42px;
	background:none;
	line-height: 100%;
	border: 1px solid #ccc;
	border-radius:5px;
	color:#fff;
	outline: none;
}
.reg-notice{
	font-size:10px;
	color: #bbbbbb;
	line-height:10px;
	margin-top:10px;
	text-align: right;
}
.reg-notice a{
	font-size:10px;
	color:#36d6ce;
}
.btn{
	width:100%;
	height:36px;
	border-radius:5px;
	border:1px solid #ccc;
	display:block;
	background:#36d6ce;
	color:#000;
	font-size:16px;
	text-align:center;
	line-height:36px;
	margin-top:50px;
}
.quick-login{
	margin-top:71px;
	width:100;
	font-size:0;
}
.quick-qq,.quick-wx,.quick-wb{
	position:relative;
	width:40px;
	height:40px;
	border-radius:50%;
	background:rgba(255,255,255,.3);
	text-align:center;
	display:block;
	left:50%;
	transform:translate(-50%);
}
.quick-login span{
	display:inline-block;
	width:33%;
}
.quick-login a:active{
	background:#36d6ce;
}
.quick-login a:active i{
	opacity:1;
}
.quick-qq i,.quick-wx i,.quick-wb i{
	background:url(../images/QQ.png) no-repeat;
	background-size:100%;
	display:block;
	width:21px;
	height:23px;
	opacity:.7;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.quick-wb i{
	background:url(../images/weibo.png) no-repeat;
	background-size:100%;
}
.quick-wx i{
	background:url(../images/wechat.png) no-repeat;
	background-size:100%;
}
::-moz-placeholder { color: #fff; opacity:0.2 }
::-webkit-input-placeholder { color:#fff; opacity:0.2 }
:-ms-input-placeholder { color:#fff; opacity:0.2 }