@charset "UTF-8";
.hds-header-setting{
	width:63px;
	height:100%;
	height:100%;
	position:absolute;
	right:0;
	top:0;
}
.hds-header-setting span{
	width:22px;
	height:22px;
	display:block;
	background:url(../images/user/props.png) no-repeat;
	background-size: 100%;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.my-herd{
	width: 100%;
	height: 150px;
	overflow:hidden;
	position:relative;
}
/*
	黑白+毛玻璃
 */
.blur {
    -webkit-filter: blur(3px) grayscale(100%);; /* Chrome, Opera */
       -moz-filter: blur(3px) grayscale(100%);
        -ms-filter: blur(3px) grayscale(100%);
            filter: blur(3px) grayscale(100%);
}
.my-cont{
	width:100%;
	overflow:hidden;
	overflow-y:scroll;
}
.my-msg{
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
}
.pic{
	width:100px;
	height:100px;
	border-radius:50%;
	margin: 15px auto 10px;
	position:relative;
}
.pic a{
	width:30px;
	height: 30px;
	background: url(../images/user/camera.png) no-repeat;
	background-size: 100%;
	border-radius:50%;
	overflow:hidden;
	display: block;
	position:absolute;
	right:0;
	bottom:0;
}
.name{
	color: #48d9d2;
	font-size: 14px;
	text-align: center;
	line-height: 14px;
}
.list-wrap{
	padding: 20px 30px 0 20px;
}
.list{
	width:100%;
}
.list a{
	display:block;
	height:50px;
	border-radius:5px;
	background:rgba(255,255,255,.1);
	margin-bottom: 9px;
}
.list a:active{
	background:rgba(255,255,255,.2);
}
.wrap{
	height:100%;
}
.list .icon{
	width:43px;
	height:100%;
	position:relative;
	float: left;
}
.list .icon img{
	width:20px;
	height:20px;
	background-size:100%;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.list span{
	font-size:13px;
	color:rgba(255,255,255,.8);
	float: left;
	line-height:50px;
}
.more{
	width:35px;
	height:100%;
	position:relative;
	float: right;
}
.more img{
	width:7px;
	height:13px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}