@charset "UTF-8";
.setting-content{
	width: 100%;
}
.setting-content-msg{
	position: relative;
	overflow: hidden;
}
.setting-cont-wrap{
	margin: 32.5px 30px 0 20px;
	height:100%;
}
.setting-content-list>div{
	width:100%;
	background:rgba(255,255,255,.1);
	height:50px;
	border-radius:5px;
	margin-bottom:10px;
}
.setting-content-list>div:active{
	background:rgba(255,255,255,.2);
}
.setting-content-list>div>a>p{
	color:#fff;
	font-size:13px;
	float: left;
	margin-left:19px;
	line-height:50px;
}
.setting-content-list>div>a>span{
	width:6px;
	height:13px;
	background: url(../images/more.png) no-repeat;
	background-size:100%;
	display:block;
	float: right;
	margin-right:14px;
	margin-top:18.5px;
}
.logout{
	width:100%;
	position:absolute;
	bottom:60px;
}
.logout-submit{
	background:#36d6ce;
	border:.5px solid #ccc;
	border-radius:5px;
	height:40px;
	font-size:16px;
	line-height:40px;
	text-align:center;
	margin-right:50px;

}