@charset "UTF-8";
body{
	background:url(../images/bj.png) no-repeat;
	background-size:100%;
}
.personal-show{
	padding: 0 30px;
}
.personal-show-img{
	padding: 0 34.5px;
	margin-top:117px;
}
.personal-show-img .girl{
	width: 80px;
	height:100px;
	background:url(../images/girl.png) no-repeat;
	background-size:100%;
	float: left;
}
.personal-show-img .boy{
	width: 65.5px;
	height:98px;
	background:url(../images/boy.png) no-repeat;
	background-size:100%;
	float:right;
}
.girl-date-name,.boy-date-name{
	font-size:15px;
	color:#999;
	line-height:85px;
	padding-left: 21px;
}
.date{
	margin-top:30px;
}
.date>div{
	height:85px;
	margin-bottom: 10px;
}
.startBtn{
	display:block;
	width:100%;
	height:40px;
	text-align:center;
	background:#36d6ce;
	border-radius:5px;
	font-size:16px;
	line-height:40px;
	margin-top:59px;
}