@charset "UTF-8";
.test-content{
	padding:0 20px;
}
.test-page{
	width: 100%;
	margin-top: 26.5px;
}
.test-page .page{
	width:45px;
	height: 47px;
	background: url(../images/10-1.png) no-repeat;
	background-size: 100%;
	margin: 0 auto;
}
.test-msg{
	margin-top:80px;
}
.test-msg-name span{
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#36d6ce;
	display: block;
	float:left;
	margin-right: 10px;
	margin-top:3px;
	margin-left: 6px;
}
.test-msg-name b{
	font-size: 16px;
	color: #36d6ce;
	float: left;
	line-height: 16px;
}
.test-hotel{
	padding:0 21px;
}
.test-hotel-select{
	margin-top:22px;
}
.test-hotel-select>div{
	width:47%;
	border:1px solid #eee;
	height:33px;
	border-radius:5px;
}
.test-hotel-select>div>input{
	width:100%;
	height:100%;
	background:none;
	color:#fff;
	text-indent: 12px;
}
.test-hotel-search{
	width:100%;
	height:33px;
	border:1px solid #eee;
	border-radius:5px;
	overflow: hidden;
	margin-top:15px;
}
.test-hotel-search input{
	width:100%;
	height:100%;
	text-indent:12px;
}
.test-hotel-wait{
	width:100%;
	height:100%;
	margin-top:14px;
}
.test-hotel-wait a{
	display:block;
	width:90px;
	height:33px;
	border:1px solid #eee;
	border-radius:5px;
	text-align: center;
	line-height:33px;
	font-size:12px;
	margin:0 auto;
}
.test-next{
	margin-top:60px;
}
.test-next a{
	display:block;
	width:60px;
	height:60px;
	background:url(../images/next.png);
	background-size:100%;
	margin:0 auto;
}
// ::-moz-placeholder { color: #fff; }
// ::-webkit-input-placeholder { color:#fff; }
// :-ms-input-placeholder { color:#fff;}