@charset "UTF-8";
.test-content{
	padding:0 20px;
}
.test-page{
	width: 100%;
	margin-top: 26.5px;
}
.test-page .page{
	width:45px;
	height: 47px;
	background: url(../images/10-8.png) no-repeat;
	background-size: 100%;
	margin: 0 auto;
}
.test-msg{
	margin-top:80px;
}
.test-msg-name span{
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#36d6ce;
	display: block;
	float:left;
	margin-right: 10px;
	margin-top:3px;
	margin-left: 6px;
}
.test-msg-name b{
	font-size: 16px;
	color: #36d6ce;
	float: left;
	line-height: 16px;
}
.test-msg-name b i{
	font-size:10px;
}
.test-next{
	margin-top:41px;
	margin-bottom: 36px;
}
.test-next a{
	display:block;
	width:60px;
	height:60px;
	background:url(../images/next.png);
	background-size:100%;
	margin:0 auto;
}
.test-friend{
	margin: 0 31px 0 21px;
	margin-top:30px;
}
.friend-list>div{
	width:47%;
	float:left;
	margin-bottom:10px;
}
.friend-list>div:nth-child(2n){
	float:right;
}
.friend-list>div>input{
	display:none;
}
.friend-list>div>input:checked+label{
	background:#36d6ce;
	border:1px solid #36d6ce;
	color:#000;
}
.friend-list>div>label{
	width:100%;
	height:32px;
	border:1px solid #eee;
	border-radius:5px;
	display:block;
	line-height: 32px;
	text-align: center;
	color:#fff;
}
.test-friend p{
	font-size:14px;
	color:rgba(0,0,0,.5);
	line-height19px;
	margin-top:3px;
}
// ::-moz-placeholder { color: #fff; }
// ::-webkit-input-placeholder { color:#fff; }
// :-ms-input-placeholder { color:#fff;}