@charset "UTF-8";
.test-content{
	padding:0 20px;
}
.test-page{
	width: 100%;
	margin-top: 26.5px;
}
.test-page .page{
	width:45px;
	height: 47px;
	background: url(../images/10-4.png) no-repeat;
	background-size: 100%;
	margin: 0 auto;
}
.test-msg{
	overflow:hidden;
	overflow-y: scroll;
}
.test-msg-name{
	margin-top:83px;
	margin-bottom:22px;
}
.test-msg-name span{
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#36d6ce;
	display: block;
	float:left;
	margin-right: 10px;
	margin-left: 6px;
	margin-top:3px;
}
.test-msg-name b{
	font-size: 16px;
	color: #36d6ce;
	float: left;
	line-height: 16px;
}
.test-msg-name b i{
	font-size:10px;
}
.test-next{
	margin-top:10px;
}
.test-next a{
	display:block;
	width:60px;
	height:60px;
	background:url(../images/next.png);
	background-size:100%;
	margin:0 auto;
}
.test-effect{
}
.test-effect-choice{
	width:100%;
	height:100%;
}
.test-effect-choice li{
	width:48%;
	float:left;
}
.test-effect-choice li{
	border-radius:5px;
	overflow: hidden;
}
.test-effect-choice li >input{
	display:none;
}
.test-effect-choice li >input:checked+label>.check{
	display:block;
}
.test-effect-choice li >input:checked ~ p{
	color:#36d6ce;
}
.test-effect-choice li >label{
	width:100%;
	display:block;
	position:relative;
	border-radius:5px;
}
.test-effect-choice li >label>img{
	display:block;
}
.test-effect-choice li>p{
	font-size:14px;
	color:#fff;
	text-align: center;
	line-height:27.5px;
}
.test-effect-choice li .check{
	width:100%;
	position: absolute;
	left:0;
	top: 0;
	background:rgba(255,255,255,0.5);
	height:100%;
	display:none;
	border-radius:5px;
}
.test-effect-choice li .check>img{
	width:74px;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.test-effect-choice li:nth-child(2n){
	float:right;
}

// ::-moz-placeholder { color: #fff; }
// ::-webkit-input-placeholder { color:#fff; }
// :-ms-input-placeholder { color:#fff;}