@charset "UTF-8";
.test-content{
	padding:0 20px;
}
.test-page{
	width: 100%;
	margin-top: 26.5px;
}
.test-page .page{
	width:45px;
	height: 47px;
	background: url(../images/10-10.png) no-repeat;
	background-size: 100%;
	margin: 0 auto;
}
.test-msg{
	margin-top:50px;
}
.test-msg-name span{
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#36d6ce;
	display: block;
	float:left;
	margin-right: 10px;
	margin-top:3px;
	margin-left: 6px;
}
.test-msg-name b{
	font-size: 16px;
	color: #36d6ce;
	float: left;
	line-height: 16px;
}
.test-msg-name b i{
	font-size:10px;
}
.test-next{
	margin-top:78px;
}
.test-next a{
	display:block;
	width:60px;
	height:60px;
	background:url(../images/next.png);
	background-size:100%;
	margin:0 auto;
}
.test-plan{
	width:100%;
	margin-top:22px;
}
.plan{
	margin: 0 31px 0 21px;
}
.plan .y-plan{
	width:47%;
	float:left;
}
.plan .n-plan{
	width:48%;
	float:right;
}
.plan input{
	display:none;
}
.plan input:checked+label{
	background:#36d6ce;
	color:#000;
	border:1px solid #36d6ce;
}
.plan label{
	width:100%;
	height:32px;
	border:1px solid #eee;
	border-radius:5px;
	overflow: hidden;
	display:block;
	color:#fff;
	text-align: center;
	line-height:32px;
}
.plan-msg{
	margin: 22px 31px 0 21px;
}
.plan-msg p{
	float:left;
	font-size:14px;
	color:rgba(0,0,0,.5)
}
.plan-msg p:first-child{
	width:33%;
}
.plan-msg p:last-child{
	width:65%;
}
// ::-moz-placeholder { color: #fff; }
// ::-webkit-input-placeholder { color:#fff; }
// :-ms-input-placeholder { color:#fff;}