@charset "UTF-8";
.plan-wrap{
	overflow:hidden;
	overflow-y: scroll;
}
.plan-list{
	padding:22px 20px 0;
}
.plan-list a{
	width:100%;
	display: block;
	border-radius: 5px;
	background: rgba(255,255,255,.1);
	overflow: hidden;
	padding-bottom: 6px;
	margin-bottom: 10px;
}
.plan-list a:active{
	background: rgba(255,255,255,.5);
}
.plan-pic{
	height:180px;
	overflow:hidden;
}
.plan-list a h2{
	font-size: 15px;
	color: rgba(255,255,255,.8);
	padding-left: 10px;
	line-height:34px;
	letter-spacing: 1px;
	overflow:hidden;
	white-space: normal;
	height:34px;
	padding-right: 10px;
}
.plan-list a p{
	font-size:12px;
	color:rgba(255,255,255,.5);
	padding-left:10px;
	padding-right: 25px;
	line-height: 15px;
}
.alert{
	position: absolute;
	width:100%;
	height:100%;
	left:0;
	top: 0;
	z-index: 10;
	display:none;
}
.opa{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background:rgba(0,0,0,.4);
}
.select{
	border-radius:5px;
	overflow:hidden;
	background:#fff;
	width:55.56%;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.select li{
	height:36px;
	line-height:36px;
	display:block;
	border-bottom:.5px solid #ccc;
	text-align: center;
	width:100%;
	color:rgba(0,0,0,.8);
	font-size:13px;
}
.select li:last-child{
	border:none;
}
.select li.active{
	background:#36d6ce;
}